.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container > a{
 border: 1px solid red;
padding: 20px;
font-size: 23px;
text-decoration: none;
color: red;
transition: all;
transition-duration: 1s;
transition-timing-function: ease-out;
}

.container >a:hover{
background-color: brown;
color: white;
}