body{
  font-size: 4em;
  background-color: rgb(92, 172, 112);
  border: 2px dotted rgb(191, 31, 31);
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: yellow;
  }
}