* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav bar */
.navbar-coffee {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  background-color: gray;
}

/*Nav Link  */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  margin: 0 40px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
  transition: all 1s ease;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.nav-links a:hover {
  border-bottom: 2px solid chocolate;
  color: rgb(46, 26, 12);
}

/* Nav search box */
.search-container input {
  padding: 7px;
  border-radius: 34px;
  border: none;
  outline: none;
}
.searchBtn {
  padding: 6px;
  background-color: rgb(10, 13, 14);
  border-radius: 34px;
  color: #fff;
}
.searchBtn:hover {
  background-color: #564343;
  border: none;
  padding: 8px;
}

/* header image section */
.header {
  position: relative;
}
.header img {
  width: 100vw;
  height: 90vh;
  background-attachment: fixed;
  position: absolute;
}
.header h1{
    position: absolute;
font-size: 3rem;
margin: 4rem;
color: white;
top: 9rem;
}


/* content section */
.content-section{
    margin: 5rem;
    background-color: antiquewhite;
    padding: 5rem;
}
 .card{
width: 100px;
height: 100px;
background-color: red;

}